*{width: 100%; text-align: center; background-color: black;}
p{width: 1000px; height: auto; margin: auto; color: blanchedalmond;}
span{color: blanchedalmond;}
img{width: 1000px; height: auto; margin: auto;}
button{width: 60pt; height: 60pt; color: white; text-align: center;}
article{color: white; width: auto; height: auto; text-align: center;}
aside{width: 15%; height: auto;float: right;}
span{color:white; text-align: center;}
form{color: white;}